.registration-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 1000;

  &.active {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
  }

  .registration-form {
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    transform: scale(0.5);
    transition: 0.4s all;
    background: #ffffff url(../../../assets/Strip-Patterns.png) no-repeat;

    &.active {
      transform: scale(1);
    }

    .inputs-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

    }

    .wrapper-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      position: relative;


      .registration-title {
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .close-img {
        right: 30px;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .form-button {
      background: none;
      border-radius: 12px;
      border: 2px solid #8468F5;
      padding: 5px;
      width: 200px;
      height: 45px;
      margin-top: 20px;

      &:focus {
        outline: none;
      }
    }
  }
}