.choose-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: left;
  margin-top: 50px;
}

.calendars-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: auto;
  margin-top: 50px;

  .first-items {
    display: flex;
    justify-content: center;
    align-center: center;

    img {
      width: 600px;
      height: 450px;
    }
  }

  .second-items {
    display: flex;
    justify-content: center;
    align-center: center;

    img {
      margin-top: -100px;
      width: 600px;
      height: 450px;
    }
  }
}

.choose-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: left;
  margin-top: -30px;
}

.choose-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: left;
  margin-top: 30px;
}

.total-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.choose-upgrade {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  text-align: left;
  margin-top: 30px;
}

.upgrade-block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 300px;
    height: 40px;
    border: 2px solid #8468F5;
    border-radius: 12px;
    padding: 40px;

    &:hover {
      cursor: pointer;
    }

    &.active {
      transition: 0.5s;
      border: none;
      background-color: #8468F5;
      color: #fff;
    }

    &.not-active {
      transition: 0.5s;
      color: #000000;
      background: white;
      border: 2px solid #8468F5;
      border-radius: 12px;
    }
  }

  .blocks {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
  }
}